body {
  background-color: #0024c3;

  background: linear-gradient(180deg, #002fb1 0%, #7dacffb8 100%);
}

h1 {
  color: white;
  font-family: Garamond, serif;

  text-align: center;
}

h2 {
  color: white;
  font-family: Garamond, serif;

  text-align: left;
}

p {
  color: white;
  font-family: Garamond, serif;
  font-size: 20px;
}

.topnav {
  background-color: #5059ff;
  overflow: hidden;;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Garamond, serif;

  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: #ffffff;
}

.topnav a.active {
  background-color: #0a04aa;
  color: white;
}

.textbox {
    background-color: #09156c00;
  overflow: hidden;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  text-align: center;

}

.reviewbox {
    background-color: #09256c00;
  overflow: hidden;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 30px;
  padding-left: 50px;

}

.reviewbox p {
    color: white;
  font-family: Garamond, serif;
  font-size: 20px;
} 

.reviewbox h4 {
    color: white;

  font-family: Garamond, serif;
  font-size: 10px;
} 

.textbox h3 {
    color: white;

  font-family: Garamond, serif;
  font-size: 15px;
} 

.textbox h4 {
    color: white;

  font-family: Garamond, serif;
  font-size: 10px;
} 