body {
  background-color: #000000;

}

h1 {
  color: white;
  font-family: Courier New, monospace;

  text-align: center;
}

h2 {
  color: white;
  font-family: Courier New, monospace;

  text-align: left;
}

p {
  color: white;
  font-family: Courier New, monospace;
  font-size: 20px;
}

.topnav {
  background-color: #000000;
  overflow: hidden;;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Courier New, monospace;

  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: #2600ff;
}

.topnav a.active {
  background-color: #0800ff;
  color: white;
}

.textbox {
  overflow: hidden;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  text-align: center;

}

.reviewbox {
  overflow: hidden;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 15px;
  padding-left: 50px;

}

.jessabox {
  overflow: hidden;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 5px;
  padding-left: 50px;

}


.reviewbox p {
    color: white;
  font-family: Courier New, monospace;
  font-size: 20px;
} 

.jessabox p {
    color: rgb(108, 101, 226);
  font-family: Courier New, monospace;
  font-size: 20px;
} 

.sharkbox p {
    color: rgb(128, 0, 255);
  font-family: Courier New, monospace;
  font-size: 20px;
} 


.reviewbox a {
    color: rgb(0, 55, 255);
  font-family: Courier New, monospace;
  font-size: 20px;
} 


.reviewbox h4 {
    color: white;

  font-family: Courier New, monospace;
  font-size: 10px;
} 

.textbox h2 {
    color: white;

  font-family: Courier New, monospace;
  font-size: 20px;
} 

.textbox h3 {
    color: white;

  font-family: Courier New, monospace;
  font-size: 15px;
} 

.textbox h4 {
    color: white;

  font-family: Courier New, monospace;
  font-size: 10px;
} 

.imgbox {
  justify-content: center;
  align-items: center;

}

.imgbox img {
  display: block;
  margin: auto;
  width: 50%;
}

.imgbox h3 {
    color: white;
  text-align: center;

  font-family: Courier New, monospace;
  font-size: 20px;
} 

.imgbox p {
    color: white;
  text-align: center;

  font-family: Courier New, monospace;
  font-size: 20px;
} 

.imgbox h2 {
    color: white;
  text-align: center;
  font-family: Courier New, monospace;
  font-size: 25px;
} 